$theme-background:#2a2a2a;
$theme-foreground:#393939;
$theme-light:#414141;

$theme-text:#aaa;
$theme-text-dark:#848484;
$theme-text-inactive:#3d3d3d;

$theme-divider:#353535;
$theme-border:#262626;
$theme-border-light:#2f2f2f;

