@import 'mixins';
@import 'theme';

input {
  background-color:$theme-background !important;
  color:$theme-text !important;
  border:solid 1px $theme-border !important;
  border-radius:4px;
}

input:focus {
  box-shadow:none;
}

button, .button {
  box-sizing:border-box;
  background-color:$theme-foreground !important;
  border:solid 1px $theme-border;
  border-radius:4px;
  outline:none;
  box-shadow:inset 0 -4px rgba(0, 0, 0, 0.1);
  margin:0;
  padding:20px;

  i {
    color:$theme-text;
  }

}

button:hover {
  box-shadow:inset 0 -4px rgba(0, 0, 0, 0.1),
             inset 0 4px rgba(255, 255, 255, 0.05);
}

button:active {
  box-shadow:none;
}

.bar {
  min-height:30px;
  width:auto;
  background-color:$theme-foreground;
  padding:10px;
}

.progress.track {
  @include reset;
  height:5px;
  background-color:$theme-light;
  border:none;

  .current.progress {
    border:none;
    height:100%;
    width:40%;
    background-color:#0c6684;
  }
}

.divider {
  border-bottom:solid 1px #3c3c3c;
  margin:12px 0;
}
