@import 'theme';
@import 'mixins';
@import 'ui';

html, body {
  background-color:$theme-foreground;
  font-family: 'Raleway', sans-serif;
}

.top.bar {
  border-bottom:solid 1px $theme-border;
  position:relative;
  padding-right:50px;

  .search.music {
    margin:0; 
  }

  button, .button {
    position:absolute;
    right:9px;
    top:9px;
    padding:11px;
  }
}

.bottom.bar {
  border-top:solid 1px $theme-border;
  position:absolute;
  bottom:0;
  width:100%;
  background-color:$theme-background;
}

.scrollable {
  overflow-y:auto;
}
