@import 'mixins';
@import 'theme';

.settings {
  background-color:$theme-light;
  margin:10px;
  padding:10px;
  border-radius:4px;
  border:solid 1px $theme-border-light;

  h1 {
    font-size:20pt;
    font-weight:300;
  }

  input {
    margin:4px;
  }

  .name {
  }

  .info {
    color:$theme-text-dark;
  }
  
}
