<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="img/logo-64.png" />
  
  <title>Orbit FM - Collaborative Radio</title>
  <!-- Styles -->
  <link rel="stylesheet" href="lib/foundation/css/foundation.css">
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="bin/styles/fonts.css">
  <link rel="stylesheet" href="bin/styles/global.css">
  <link rel="stylesheet" href="bin/styles/logo.css">
  <link rel="stylesheet" href="bin/styles/player.css">
  <link rel="stylesheet" href="bin/styles/settings.css">
  <!-- Scripts -->
  <script src='lib/angular/angular.js'></script>
  <script src='lib/angular-route/angular-route.js'></script>
  <script src='lib/angular-socket-io/socket.js'></script>
  <script src='lib/socket.io-client/dist/socket.io.js'></script>
  <script src='bin/index.js'></script>

</head>
<body>
  <div>
    
    <!-- Top Navigation Bar -->
    <div class='top bar' ng-controller='SearchController'>
      <form>
        <input type='text' placeholder='Search for music...'
          class='dark input music search' ng-model='criteria'
          after-typing='search()' typing-duration='300'
          ng-blur='blur()'></input>
        <a class='small button'>
          <i class='fa fa-search' ng-hide='searching'></i>
          <i class='fa fa-refresh fa-spin' ng-show='searching'></i>
        </a>
       </form>
       <div class='results dropdown' ng-hide='results === null'>
         <table class='search results track list' ng-show='results && results.length'>
          <thead>
            <tr>
              <td>Title</td>
              <td>Artist</td>
              <td>Duration</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='result in results'>
              <td>{{result.title}}</td>
              <td>{{result.artist}}</td>
              <td>{{result.duration}}</td>
            </tr>
          </tbody>
         </table>
         <div class='message' ng-show='results.length === 0'>
          <i class='fa fa-exclamation'></i>
          No results found
         </div>
       </div>
    </div>
  
    <div ng-view></div>

    <!-- Options bar -->
    <div class='bottom bar'>
      <a href='#/settings' class='button'>
        <i class='fa fa-gear'></i>
      </a>
      <a href='#/playlist' class='button'>
        <i class='fa fa-plus'></i>
      </a>  
    </div>

  </div>
</body>
</html>
